
@media (min-width: 480px) and (max-width: 993px) {
    .navbar-fixed-bottom .navbar-collapse, .col-lg-9 .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 480px) and (max-width: 993px) {
    .col-lg-9 .navbar .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (min-width: 480px) and (max-width: 993px) {
    .col-lg-9 .navbar .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/*@media (min-width: 480px) and (max-width: 993px) {
    .navbar-toggle {
       display: none;
    }

}*/

@media (min-width: 480px) and (max-width: 993px) {
    .navbar .navbar-header {
        float: left;
    }
}