

html, body {
	height: 100%;
}

#menu-nav-wrap {
	background: #111111;
	color: rgba(255, 255, 255, 0.3);
	font-family: "roboto-regular", sans-serif;
	font-size: 1.5rem;
	line-height: 2.7rem;
	padding: 3.6rem 3rem;
	height: 100%;
	width: 260px;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 500;
	overflow-y: auto;

	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
	transition: transform .4s 0s, visibility 0s .4s;

	-webkit-transform: translateX(80px);
	-ms-transform: translateX(80px);
	transform: translateX(80px);  /* navigation links */
}
#menu-nav-wrap.menu-is-open {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);

	visibility: visible;

	-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
	transition: transform .4s 0s, visibility 0s 0s;
	-webkit-overflow-scrolling: touch;
}
#menu-nav-wrap h5 {
	margin-bottom: 1.5rem;
	font-family: "roboto-black", sans-serif;
	font-size: 1.25rem;
	line-height: 1.85;
	letter-spacing: .2rem;
}
#menu-nav-wrap .nav-list {
	margin: 1.8rem 0 0 0;
	padding: 0 0 3rem 0;
	list-style: none;
	line-height: 4.2rem;
}
#menu-nav-wrap .nav-list li {
	padding-left: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}
#menu-nav-wrap .nav-list li:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.03);
}
#menu-nav-wrap .nav-list li a {
	color: rgba(255, 255, 255, 0.3);
}
#menu-nav-wrap .nav-list li a:hover,
#menu-nav-wrap .nav-list li a:focus {
	color: white;
}


/** 
 * ===================================================================
 * 08. main-404-content - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */

#main-404-content {
	background: #151515;
	width: 100%;
	height: 100%;
	min-height: 720px;
	z-index: 600;
	position: relative;

	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-moz-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	-webkit-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
#main-404-content.menu-is-open {
	-webkit-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	transform: translateX(-260px);
}

/* static background */
#main-404-content.main-content-static {
	background-image: url(../images/slides/greens.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/* slideshow background */
#main-404-content.main-content-slides {
	height: 100% !important;
}

/* particle background */
#main-404-content.main-content-particle-js {
	background: #1D253F;
/*    020507*/
	overflow: hidden;
}
#main-404-content.main-content-particle-js .pg-canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
	opacity: .15;
}
#main-404-content.main-content-particle-js .shadow-overlay {
	display: none;
}


.content-wrap {
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}
.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;

	background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, black 0%, black 20%, transparent 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);  /* IE6-9 */
}
.main-content {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 700;  
}
.main-content h1 {
	font-family: "roboto-black", sans-serif;
	text-transform: uppercase;
	letter-spacing: -.2rem;
	font-size: 9.4rem;
	line-height: 1;
	margin-bottom: 1.2rem;
	padding-top: 2.4rem;
	position: relative;
}
.main-content h1::before {
	content: "";
	display: block;
	background: #c25d02;
	width: 120px;
	height: 3px;
	position: absolute;
	top: 0;
	left: 9px;
}


/* CSS styles for kerning. See lettering.js website for details:
 * https://github.com/davatron5000/Lettering.js
 * if you dont want to apply kerning, just remove the "kern-this" class
 * on the h1 tag in the html file.
 */

.main-content .kern-this [class*="char"] {
	position: relative;
    
}
.main-content .char3 {
	left: -0.01em;    /* "4" */
}
.main-content .char7 {
	left: -0.013em; 	/* "R" */
}
.main-content .char8 {
	left: -0.04em;    /* "O" */
}
.main-content .char9 {
	left: -0.052em;   /* "R" */
}
.main-content .char10 {
	left: -0.038em;   /* "." */
}

.main-content p {
	color: rgba(255, 255, 255, 0.3);
	font-family: "roboto-regular", sans-serif;
	font-size: 1.8rem;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.main-content .search form {
	max-width: 360px;
	margin: 3rem 0 1.2rem;
}

.main-content .inform {
	color: rgba(255, 255, 255, 1);
	font-family: "roboto-regular", sans-serif;
	font-size: 1.8rem;
	max-width: 720px;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2%;
}
.main-content .search form input[type="text"] {
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
}
.main-content .noti-field {
	margin: 3rem 0 1.2rem;
    padding: 3%;
    background: rgba(255, 255, 255, 0.1);
	width: 100%;
}
#main-404-content footer {
	position: absolute;
	width: 100%;
	min-height: 12rem;
	bottom: 0;
	left: 0;
	z-index: 700;
}

/* social links */
#main-404-content .social-links {
	text-align: right;
	margin-bottom: 3rem;
}
#main-404-content .social-links ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 3rem;
}
#main-404-content .social-links ul li {
	display: inline-block;
	padding: 0 .9rem;
}
#main-404-content .social-links ul li:last-child {
	padding-right: 0;
}

/* bottom links */
#main-404-content .bottom-links .links {
	display: block;
	list-style: none;
	margin: 0 0 .9rem 0;
	padding: 0;
	font-family: "roboto-bold", sans-serif;
	font-size: 1.7rem;
}
#main-404-content .bottom-links .links:before,
#main-404-content .bottom-links .links:after {
	content: "";
	display: table;
}
#main-404-content .bottom-links .links:after {
	clear: both;
}
#main-404-content .bottom-links li {
	float: left;
	padding: 0 1.2rem;
}
#main-404-content .bottom-links li:first-child {
	padding-left: 0;
}
#main-404-content .bottom-links .credits {
	font-size: 1.4rem;
	line-height: 3rem;
	color: rgba(255, 255, 255, 0.2);
}
#main-404-content .bottom-links .credits a {
	color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
}
#main-404-content .bottom-links .credits a:hover,
#main-404-content .bottom-links .credits a:focus {
	color: #FFFFFF;
}

/**
 * responsive - main-404-content
 * ------------------------------------------------------------------- 
 */
 
@media only screen and (max-width:1024px) {
	.main-content h1 {
		font-size: 8.6rem;
	}
}
@media only screen and (max-width:768px) {
	.main-content h1 {
		font-size: 7.2rem;
	}
	#main-404-content .social-links {
		text-align: left;
	}
	#main-404-content .social-links ul {
		font-size: 2.8rem;
	}
	#main-404-content .social-links li:first-child {
		padding-left: 0;
	}
	#main-404-content .bottom-links .links {
		font-size: 1.6rem;
	}
}
@media only screen and (max-width:600px) {
	.main-content h1 {
		font-size: 6.2rem;
	}
}
@media only screen and (max-width:400px) {
	.main-content h1 {
		font-size: 5.5rem;
	}
	#main-404-content .social-links ul {
		font-size: 2.6rem;
	}
}
@media only screen and (max-width:380px) {
	.main-content h1 {
		font-size: 5.2rem;
	}
}

/*# sourceMappingURL=main.css.map */