<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <title>ICO Mile</title>


        <link rel="stylesheet" href="../../css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
<!--        <link rel="icon" href="../../images/favicon.png" sizes="64*64"/>-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <div class="wrapper dashboard_page">
            <section class="main">
               <div class="container-fluid">
                   <div class="row">
                       <div class="padding_none main_left">
                           <div class="logoBox">
                               <h1 class="logo">
                                   <a href="/">
                                    <img src="../../images/logo.png" alt="logo"/>
                                   </a>
                               </h1>
                           </div> <!-- END logo-->
                           <ul class="nav nav-tabs dashboardBox clearfix">
                               <li class="active">
                                   <a href="#dashboard" data-toggle="tab">
                                       <span class="left_icon dash_icon"></span>
                                       <span class="left_txt">DASHBOARD</span>
                                   </a>
                                </li>

                               <li>
                                   <a href="#history" data-toggle="tab">
                                       <span class="left_icon history_icon"></span>
                                       <span class="left_txt">HISTORY</span>
                                   </a>
                                </li>
                           </ul> <!-- END Dashboard-->
                       </div> <!-- END col-lg-2 -->

                       <div class="col-lg-10 col-md-10 padding_none bg_base main_right tab-pane fade in active">
                           <div class="container_88">
                                <div class="tab-content">
                                   <div class="dashboard_content tab-pane fade in active" id="dashboard">
                                       <div class="row">
                                           <div class="col-lg-12">
                                               <h3 class="desc">Your Profile</h3>

                                               <div class="logoutBox">
                                                   {{#loginUser}}
                                                   {{#isAdmin}}
                                                   <span>본 계정은 관리자 계정입니다</span>
                                                   <a href="/admin">Admin Page</a>
                                                   {{/isAdmin}}
                                                   {{/loginUser}}
                                                   <span class="log_icon"></span>
                                                   <a href="/userLogout" type="button" class="log_txt">Log Out</a>
                                               </div> <!-- END logoutBox-->
                                           </div> <!-- END col-lg-12 -->
                                       </div> <!-- END row-->

                                       <div class="row">
                                           <div class="col-lg-4">
                                               <div class="panel panel-default info_panel">
                                                   <div class="panel-body" id="profile_box">
                                                       {{#loginUser}}
                                                       <dl class="infoBox">
                                                           <dt id="infoname"><strong>Username</strong></dt>
                                                           <dd class="infoName">{{name}}</dd>
                                                           <dt id="infoemail"><strong>E-mail</strong></dt>
                                                           <dd class="infoEmail">{{email}}</dd>
                                                           <dt id="infoaddr"><strong>ETH Address</strong></dt>
                                                           <dd class="infoAddress"><a href="https://etherscan.io/address/{{address}}" target="_blank">{{address}}</a></dd>
                                                       </dl> <!-- END infoBox-->
                                                        {{/loginUser}}

                                                       {{^isFirstDeposit}}
                                                       {{^isAddress}}
                                                       <div class="profile_btn dashBtn dashAddr">
                                                           <button type="submit" id="updatebt" class="updateBtn2">Set Address</button>
                                                       </div> <!-- END profile_btn-->
                                                       {{/isAddress}}

                                                       {{#isAddress}}
                                                       <div class="profile_btn dashBtn dashAddr">
                                                           <button type="submit" id="updatebt" class="updateBtn2">Update Address</button>
                                                       </div>
                                                       {{/isAddress}}

                                                       {{/isFirstDeposit}}

                                                       {{#isFirstDeposit}}
                                                       <div class="profile_btn dashBtn dashAddr">
                                                       <h5>The initial deposit is confirmed at the address you saved and
                                                           you can not change the address.</h5>
                                                       </div>
                                                       {{/isFirstDeposit}}

                                                   </div> <!-- END panel-body-->
                                               </div> <!-- END panel panel-default-->

                                               <div class="warningBox">
                                                   <div class="warningImg">
                                                       <div class="warning_top_txt">
                                                           <div class="talkicon talkicon1"></div>
                                                           <div class="warningIcon"></div>
                                                           <h3 class="warningTitle">
                                                               DO NOT SEND ETH FROM EXCHANGES <br/>
                                                               ELSE YOU WILL LOSE THE MONEY!!
                                                           </h3>
                                                           <div class="talkicon talkicon2"></div>
                                                       </div> <!--END warngin_top_txt -->
                                                       <div class="warning_bottom_txt">
                                                           <ol class="sendOrder">
                                                               <li>Download ERC-20 wallet (My Etherwallet, imToken, MEW, etc.)</li>
                                                               <li>Send money from exchange to ERC-20 wallet.</li>
                                                               <li>Send ETH from ERC-20 wallet to Mile ICO.</li>
                                                           </ol> <!-- END sendOrder-->
                                                       </div> <!-- END warning_bottom_txt-->
                                                   </div> <!--END warningImg-->

                                                   <span class="waniginTxt">
                                                       Please do not send ETH to the contract address.
                                                       <a href="#">Read the buy guide first.</a>
                                                   </span>
                                               </div> <!-- END warningBox-->
                                           </div> <!-- END col-lg-5 -->

                                           <div class="col-lg-8">
                                               <div class="panel panel-default position_parent">

                                                   <div class="panel-body">
                                                       <h4 class="sub_desc">KYC Progress</h4>
                                                       <p class="kyc_txt dash_txt">
                                                           Token Sale Participants can only get a Mile If they pass two KYC related checks<br/>
                                                           (KYC submission confirmation, KYC vertification confirmation.)<br/>
                                                           Please contact <a href="mailto:support@mileico.com">support@mileico.com</a>
                                                           for KYC relatied inquiries.
                                                       </p>
                                                       {{#loginUser}}
                                                       <div class="kycCheckBox">
                                                           <div class="kyc_check">
                                                               <div class="check">
                                                                   {{#isSubmitted}}
                                                                   <img src="../../images/check.png">
                                                                   {{/isSubmitted}}
                                                               </div>
                                                               {{#isSubmitted}}
                                                               <p class="check_desc">Your KYC submission has been verified</p>
                                                               {{/isSubmitted}}
                                                           </div> <!-- EMD kyc_check-->

                                                           <div class="kyc_check">
                                                               <div class="check">
                                                                   {{#isChecked}}
                                                                   <img src="../../images/check.png">
                                                                   {{/isChecked}}
                                                               </div>
                                                               {{#kycResult}}
                                                               <p class="check_desc">{{kycResult}}</p>
                                                               {{/kycResult}}
                                                           </div> <!-- EMD kyc_check-->
                                                           {{#isSubmitted}}
                                                           <div class="kyc_btn dashBtn">
                                                               <p><a href="/openKyc" title="KYC submit button">KYC Resubmit</a></p>
                                                           </div>
                                                           {{/isSubmitted}}
                                                           {{^isSubmitted}}
                                                           <div class="kyc_btn dashBtn">
                                                               <p><a href="/openKyc" title="KYC submit button">KYC Submit</a></p>
                                                           </div>

                                                           <div class="blackBg_dash">
                                                               <div class="kyc_btn_center dashBtn">
                                                                   <p><a href="#">KYC Submit</a></p>
                                                               </div>
                                                           </div>
                                                           {{/isSubmitted}}
                                                       </div> <!-- END kycCheckBox-->
                                                       {{/loginUser}}
                                                       {{^policy}}
                                                       <div class="copyBox">
                                                           <h4 class="sub_desc">Token Sale ETH Address</h4>
                                                           <div class="addressBox clearfix dashBtn">
                                                               <p class="adminAddress">ICO Preparing</p>
                                                               <button type="button" class="copyBtn" disabled="disabled">Wait</button>
                                                           </div> <!-- END addressBox-->
                                                       </div>
                                                       {{/policy}}
                                                       {{#policy}}
                                                       <div class="copyBox">
                                                           <h4 class="sub_desc">Token Sale ETH Address</h4>
                                                           <div class="addressBox clearfix dashBtn">
                                                               <p class="adminAddress">{{address}}</p>
                                                               <button type="button" class="copyBtn" click="copyToClipboard('#ratio');">Copy</button>
                                                           </div> <!-- END addressBox-->
                                                       </div> <!-- END copyBox -->
                                                       <input type="hidden" id="ratio" value="{{ratio}}">
                                                       {{/policy}}


                                                   </div> <!-- END panel-body-->
                                               </div> <!-- END panel panel-default-->
                                           </div><!-- END col-lg-7 -->
                                       </div><!-- END row-->

                                       <div class="row">
                                           <div class="col-lg-12">
                                               <div class="transBox clearfix">
                                                   <h4 class="sub_desc">Contribution Calculator</h4>
                                                   <form action="#" method="post" class="transForm">
                                                       <div class="form-group transSbox clearfix">
                                                           <label for="etherCoin">ETH</label>
                                                           <input type="text" title="" class="etherCoin" id="etherCoin" placeholder="0"/>
                                                       </div>

                                                       <div class="changeIcon">
                                                           <div class="icon">
                                                               <i class="fas fa-exchange-alt"></i>
                                                           </div> <!-- END icon-->
                                                       </div> <!-- END changeIocn-->

                                                       <div class="form-group transSbox clearfix">
                                                           <span class="coinName">MIL</span>
                                                           <div class="resultCoin"></div>
                                                       </div>
                                                   </form> <!-- END transFrom-->
                                               </div> <!-- END transBox-->
                                           </div> <!-- END col-lg-12-->
                                       </div> <!-- END row-->

                                       <div class="row">
                                           <div class="col-lg-12">
                                               <div class="purchaseBox">
                                                   <div class="totalmodal">
                                                       <div class="totalBox clearfix">
                                                           <div class="receiveBox">
                                                               <span class="receive_icon eth"></span>
                                                               <div class="totalTxt">
                                                                   <p class="receive_big_txt"><strong>{{#totalDeposit}}{{totalDeposit}}{{/totalDeposit}}</strong>ETH</p>
                                                                   <p class="receive_small_txt">ETH Received</p>
                                                               </div> <!-- END totalTxt-->
                                                           </div> <!-- END reciveBox-->

                                                           <div class="receiveBox">
                                                               <span class="receive_icon mil"></span>
                                                               <div class="totalTxt">
                                                                   <p class="receive_big_txt"><strong>{{#totalExMile}}{{totalExMile}}{{/totalExMile}}</strong>MIL</p>
                                                                   <p class="receive_small_Txt">MIL Purchased</p>
                                                               </div> <!-- END totalTxt-->
                                                           </div> <!-- END receiveBox-->
                                                       </div> <!-- END totalBox-->
                                                   </div> <!-- END panel panel-default -->
                                               </div> <!-- END purchaseBox-->
                                           </div> <!-- END col-lg-12-->
                                       </div> <!-- END row-->
                                   </div> <!-- END dashboard_content-->

                                   <div class="history_content tab-pane fade in" id="history">
                                       <h3 class="desc">Token Purchase History</h3>
                                       <div class="row">
                                           <div class="col-sm-12">
                                                <div class="historyBigBox">
                                           <div class="historyBox historyBoxTitle clearfix">
                                               <div class="historyDate">Date</div> <!-- END historyDate-->
                                               <div class="historyAddress">Sending Address</div> <!-- END historyAddress-->
                                               <div class="historyAmount">ETH Sent</div> <!-- END historySent-->
                                               <div class="historyPurchased">MileX Purchased</div> <!-- END historyDate-->
                                           </div> <!-- END historyBox historyBoxTitle-->
                                            {{#history}}
                                           <div class="historyBox historyBoxContents clearfix">
                                               <div class="historyDate">{{date}}</div> <!-- END historyDate-->
                                               <div class="historyAddress">{{user.address}}</div> <!-- END historyAddress-->
                                               <div class="historyAmount">{{amount}}</div> <!-- END historySent-->
                                               <div class="historyPurchased">{{exMile}}</div> <!-- END historyPurchased-->
                                           </div> <!-- END historyBox historyBoxContents-->
                                            {{/history}}




                                           <!-- 거래내역은 이 위로 올라갑니다. 아래는 total 맨 마지막에 있을 내용입니다.-->

                                           <div class="historyBox historyBoxFinish">
                                               <div class="historyTotalTitle">Total</div> <!-- END historyDate-->
                                               <div class="historyPurchased">{{#totalDeposit}}{{totalDeposit}}{{/totalDeposit}}</div> <!-- END historyPurchased-->
                                               <div class="historyTotal">{{#totalExMile}}{{totalExMile}}{{/totalExMile}}</div> <!-- END historyTotal-->
                                           </div> <!-- END historyBox historyBoxContents-->

                                       </div> <!-- END historyBigBox-->
                                           </div> <!-- END col-sm-12-->
                                       </div> <!-- END row-->
                                   </div> <!-- END history_content--->

                                </div>
                            </div>
                       </div> <!-- END col-lg-9-->
                   </div> <!-- END row-->
               </div> <!-- END container-->
            </section> <!-- END main -->

            <footer class="footer">
                <div class="container-fluid">

                </div> <!-- END container-->
            </footer> <!-- END footer-->
        </div> <!-- END wrapper-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
         <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="../../js/main.js"></script>
        <script src="../../js/dash.js"></script>
    </body>
</html>