<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>Mile</title>
    <link rel="stylesheet" href="./css/layout.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <!--<link rel="icon" href="./images/favicon.png" sizes="64*64"/>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link href="https://fonts.googleapis.com/css?family=Signika+Negative" rel="stylesheet">
	<link rel="stylesheet" href="./css/add.css" type="text/css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<div class="wrapper index">
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><!-- col-lg-3 수정:col-lg-2 -->
                    <h1 class="logo child_position">
                        <a href="#" title="Homepage link">
                            <img src="./images/Miles-logo03_small.png" alt="logo">
                        </a>
                    </h1> <!-- END logo-->
                </div> <!-- END col-lg-3-->

                <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9"><!-- col-lg-9 수정:col-lg-10 -->
                    <nav class="navbar navbar-default navbar-fixed-top gnbbox child_position">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle mobileBtn" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> <!-- END navbar-header-->

                        <div class="navbar_right collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav">
                                <li class="">
                                    <a href="#section1">
                                        {{#i18n}}index.nav.roadmap{{/i18n}}
                                    </a>
                                </li>

                                <li class="">
                                    <a href="#section2">
                                        {{#i18n}}index.nav.solution{{/i18n}}
                                    </a>
                                </li>

                                <li class="">
                                    <a href="#section3">
                                        {{#i18n}}index.nav.whitepaper{{/i18n}}
                                    </a>
                                </li>

                                <li class="">
                                    <a href="#section4">
                                        {{#i18n}}index.nav.system{{/i18n}}
                                    </a>
                                </li>

                                <li class="">
                                    <a href="#section5">
                                        {{#i18n}}index.nav.partners{{/i18n}}
                                    </a>
                                </li>

                            </ul>

                            <ul class="navbar navbar-nav lnbbox child_position">
                                {{^loginUser}}
                                <li>
                                    <a href="/login/lgtab">
                                        {{#i18n}}index.nav.login{{/i18n}}
                                    </a>
                                </li>
                                <li>
                                    <a href="/login/jointab">
                                        {{#i18n}}index.nav.join{{/i18n}}
                                    </a>
                                </li>
                                {{/loginUser}}

                                {{#loginUser}}
                                <li>
                                    <a href="/login/lgtab">
                                        {{#i18n}}index.nav.dashboard{{/i18n}}
                                    </a>
                                </li>
                                <li>
                                    <a href="/userLogout">
                                        {{#i18n}}index.nav.logout{{/i18n}}
                                    </a>
                                </li>
                                {{/loginUser}}

                            </ul><!--- END lnbbox-->
                        </div> <!-- END navbar_right-->

						<div class="imgbox"><!-- 추가 -->
							<img class="mileperaud" src="./images/mile_aud_text.png">
						</div><!-- END imgobx-->

                        <div class="langbox">
                          <a href="?lang=en" id="en">EN</a>&nbsp;&nbsp;<a href="?lang=zh" id="zh">CN</a>
                      </div> <!-- END langbox -->

                    </nav>
                </div> <!-- END col-lg-9 -->
            </div> <!-- END row -->

        </div> <!-- END container-->
    </header><!-- END header-->

    <div class="main">
        <section class="visual">
            <div class="visualBigBox">
                <div class="visualinnerBox">
                    <div class="container">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="visualBox">
                                <div class="visualText">
                                    <h1 class="title">
                                        {{#i18n}}index.main.title{{/i18n}}
                                    </h1><!-- END title-->
                                    <p class="title_desc title_desc1">
                                        {{#i18n}}index.main.subtitle{{/i18n}}
                                    </p><!-- END title_desc-->

                                    {{#progress}}
                                    <div class="mileLiveBox">
                                        <h3>{{#i18n}}index.main.progress.title{{/i18n}}</h3>
                                        <div id="newcountdown"><div class="count_box"></div><p class="inline"><b>0</b><span>{{#i18n}}index.main.progress.days{{/i18n}}</span></p><p class="inline"><b>0</b><span>{{#i18n}}index.main.progress.hours{{/i18n}}</span></p><p class="inline"><b>0</b><span>{{#i18n}}index.main.progress.minutes{{/i18n}}</span></p><p class="inline"><b>0</b><span>{{#i18n}}index.main.progress.seconds{{/i18n}}</span></p></div>
                                    </div> <!-- END mileLiveBox-->
                                    {{/progress}}

                                    {{#progress}}
                                    <div class="mileProcess">
                                        <div class="processText">
                                            <div>

                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0.0" aria-valuemin="0" aria-valuemax="330000000" style="width: 0%;">
                                                    <span id="selled">0</span> Mile Sold (0.0%)
                                                    <svg class="svg-inline--fa fa-space-shuttle fa-w-20 visual_icon" aria-hidden="true" data-fa-processed="" data-prefix="fa" data-icon="space-shuttle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M592.604 208.244C559.735 192.836 515.777 184 472 184H186.327c-4.952-6.555-10.585-11.978-16.72-16H376C229.157 137.747 219.403 32 96.003 32H96v128H80V32c-26.51 0-48 28.654-48 64v64c-23.197 0-32 10.032-32 24v40c0 13.983 8.819 24 32 24v16c-23.197 0-32 10.032-32 24v40c0 13.983 8.819 24 32 24v64c0 35.346 21.49 64 48 64V352h16v128h.003c123.4 0 133.154-105.747 279.997-136H169.606c6.135-4.022 11.768-9.445 16.72-16H472c43.777 0 87.735-8.836 120.604-24.244C622.282 289.845 640 271.992 640 256s-17.718-33.845-47.396-47.756zM488 296a8 8 0 0 1-8-8v-64a8 8 0 0 1 8-8c31.909 0 31.942 80 0 80z"></path></svg><!-- <span class="fa fa-space-shuttle visual_icon"></span> -->
                                                </div> <!-- END progress-bar-->

                                            </div><!-- END progress-->
                                        </div> <!-- END processText-->
                                        <div class="processBar"></div>
                                    </div> <!--- END mileProcess-->
                                    <input type="hidden" value="{{percent}}" id="percent">
                                    <input type="hidden" value="{{endDate}}" id="endDate">

                                    {{/progress}}

                                    <p class="title_desc title_desc2">
                                        {{#i18n}}index.main.bottom.top{{/i18n}}
                                    </p><!-- END desc-->

                                    <a href="/login/lgtab" title="mile token status link" class="statusBtn">{{#i18n}}index.main.bottom.middle{{/i18n}}</a>

                                    <span class="title_Sdesc">
                                         {{#i18n}}index.main.bottom.bottom{{/i18n}}
                                    </span> <!-- END title_Sdesc-->


                                </div> <!-- END visualText-->
                                <div class="airplane_icon1"></div>
                            </div> <!-- END visualBox-->
                        </div> <!-- END col-sm-12-->
                    </div> <!-- END row-->

                </div> <!-- END container-->
                </div> <!-- END visualinnerBox-->
            </div><!--- END visualBigBox-->
        </section> <!-- END visual-->

        <section class="m_content mc1" id="section1">
            <div class="mc1_outer">
                <div class="mc1_inner">
                    <div class="contents">
                        <h3 class="smallTitle">{{#i18n}}index.roadmap{{/i18n}}</h3> <!-- END smallTitle-->
                        <div class="roadmapImg clearfix">
                            <div class="leftLine">
                                <div class="topImg"></div> <!-- END topImg-->
                                <div class="bottomImg"></div> <!-- END bottomImg-->
                                <div class="roadmapBigBox">
                                    <div class="roadmapBox_start">
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">Mile</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc1{{/i18n}}</p>
                                        </div> <!-- END roadmapTxt-->
                                        <div class="roadmap"></div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox1">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.2</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc2{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox2">
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.3</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc3{{/i18n}}</p>
                                        </div>
                                        <div class="roadmap"></div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox3">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.4</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc4{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox4">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.5</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc5{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox5">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.6</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc6{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox6">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.8</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc7{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox7">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.9</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc8{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox8">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2018.11</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc9{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox9">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2019.1</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc10{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox10">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2019.2</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc11{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->


                                    <div class="roadmapBox roadmapBox11">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2019.3</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc12{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox12">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2019.5</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc13{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->

                                    <div class="roadmapBox roadmapBox13">
                                        <div class="roadmap"></div>
                                        <div class="roadmapTxt">
                                            <p class="roadmapTitle">2019.7</p>
                                            <p class="roadmapDesc">{{#i18n}}index.roadmap.desc14{{/i18n}}</p>
                                        </div>
                                    </div> <!-- END roadmapBox-->
                                </div> <!-- END roadmapBigBox-->
                            </div> <!--END leftLine-->

                            <div class="rightLine">
                                <div class="rightCircle">

                                </div> <!-- END rightCircle-->
                            </div> <!-- END rightLine--->
                        </div> <!-- END roadmapImg-->
                    </div> <!-- END contents-->

                    <div class="airplane_icon2">
                        <img src="images/mc1_plane.png" alt="icon">
                    </div>
                </div> <!-- END mc1_inner-->
            </div> <!-- END mc1_outer-->
        </section> <!-- END m_content mc1-->

        <div class="section_bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="smallTitle">{{#i18n}}index.smallTitle{{/i18n}}</h3> <!-- END smallTitle-->
                        <p class="barDesc">{{#i18n}}index.smallTitle.desc{{/i18n}}</p>
                    </div> <!-- END col-sm-12-->
                </div> <!--- END row-->
            </div> <!-- END container-->

            <div class="section_plane_icon">
                <img src="./images/sidebar_plane.png" alt="plane_icon">
            </div> <!-- END section_plane_icon-->

        </div> <!-- END section_Bar-->
        <section class="m_content mc2_1" stlye="padding-top:70px;padding-bottom:50px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="smallTitle" style="color:#666;padding-bottom:30px;text-align:center;">{{#i18n}}index.distribution{{/i18n}}</h3>
                        <div class="imageBox" style="width:100%;">
                            {{#i18n}}index.distribution.img{{/i18n}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="m_content mc2" id="section2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mc2_txt">
                            <h3 class="smallTitle">
                                {{#i18n}}index.distribution.smalltitle{{/i18n}}
                            </h3> <!-- END smallTitle-->
                            <p class="small_desc">
                                {{#i18n}}index.distribution.smalldesc{{/i18n}}
                            </p> <!-- END small_desc-->
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="solution solution1"></div><!-- END solution-->
                                <p class="detail_desc">{{#i18n}}index.distribution.detaildesc1{{/i18n}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="solution solution2"></div><!-- END solution-->
                                    <p class="detail_desc">{{#i18n}}index.distribution.detaildesc2{{/i18n}}
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="solution solution3"></div><!-- END solution-->
                                    <p class="detail_desc">{{#i18n}}index.distribution.detaildesc3{{/i18n}}</p>
                                </div>
                            </div> <!-- END row-->
                        </div> <!-- END mc2_txt-->
                    </div><!-- END col-sm-12 -->
                </div> <!--- END row-->

                <div class="row">
                    <div class="col-sm-12">

                        <h3 class="smallTitle smallTitle1">
                            {{#i18n}}index.distribution.worksTitle{{/i18n}}
                        </h3>
                        <span class="titleDesc">{{#i18n}}index.distribution.worksSubtitle{{/i18n}}</span>
                    </div>
                    <div class="col-sm-3">
                        <ul class="worksList">
                            <li>
                                <h5>{{#i18n}}index.distribution.worksListTitle1{{/i18n}}</h5>
                                <p>{{#i18n}}index.distribution.worksListContent1{{/i18n}}</p>
                            </li>
                            <li>
                                <h5>{{#i18n}}index.distribution.worksListTitle2{{/i18n}}</h5>
                                <p>{{#i18n}}index.distribution.worksListContent2{{/i18n}}</p>
                            </li>
                            <li>
                                <h5>{{#i18n}}index.distribution.worksListTitle3{{/i18n}}</h5>
                                <p>{{#i18n}}index.distribution.worksListContent3{{/i18n}}</p>
                            </li>
                        </ul><!-- END worksList-->
                    </div>
                    <div class="col-sm-9">
                        <div class="blockchainImg">
                            <img src="./images/mc2_howitwork.png">
                        </div> <!-- END blockchainImg-->
                        <span class="blockchainDesc">
                                <strong>
                                    {{#i18n}}index.distribution.footer{{/i18n}}
                                </strong>
                            </span>
                    </div>
                </div> <!-- END row-->
            </div> <!-- END container-->
        </section> <!-- END m_content mc2-->

        <section class="m_content mc3" id="section3">
            <div class="container">
                <div class="row">

                    <div class="col-sm-5">
                        <div class="whitepaperImg">
                        </div> <!-- END whitepaperImg-->
                    </div> <!-- END col-sm-4-->

                    <div class="col-sm-7">
                        <h3 class="smallTitle">{{#i18n}}index.whitePaper{{/i18n}}</h3> <!-- END smallTitle-->
                        <p class="small_desc">
                            {{#i18n}}index.whitePaper.desc{{/i18n}}
                        </p> <!-- END small_desc-->

                        <span class="plusTxt">{{#i18n}}index.whitePaper.plusTxt{{/i18n}}</span>
                        <div class="whitepaperBtn">
                            <p class="text-right">
                                <a href="/kycpdf/Mile_Whitepaper.pdf" target="_blank">{{#i18n}}index.whitePaper.button{{/i18n}}</a>
                            </p>
                        </div> <!-- END whitepaperBtn-->
                    </div> <!-- END col-sm-7-->

                </div> <!--- END row-->
            </div> <!-- END container-->
        </section> <!-- END m_content mc3-->

        <section class="m_content mc4" id="section4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="smallTitle">{{#i18n}}index.manual{{/i18n}}</h3> <!-- END smallTitle-->
                        <p class="small_desc">
                            {{#i18n}}index.manual.subTitle{{/i18n}}
                        </p> <!-- END small_desc-->
                    </div> <!-- END col-sm-12-->
                </div> <!--- END row-->

                <div class="row">

                    <div class="col-sm-3">
                        <div class="reservation reservation1">
                            <div class="reserImg reserImg1"></div>
                            <h5>{{#i18n}}index.manual.reserTitle1{{/i18n}}</h5>
                            <p class="detail_desc">
                                {{#i18n}}index.manual.reserContent1{{/i18n}}
                            </p>
                        </div><!-- END reservation-->
                    </div> <!-- END col-sm-3-->

                    <div class="col-sm-3">
                        <div class="reservation reservation2">
                            <div class="reserImg reserImg2"></div>
                            <h5>{{#i18n}}index.manual.reserTitle2{{/i18n}}</h5>
                            <p class="detail_desc">
                                {{#i18n}}index.manual.reserContent2{{/i18n}}
                            </p>
                        </div><!-- END reservation-->
                    </div> <!-- END col-sm-3-->

                    <div class="col-sm-3">
                        <div class="reservation reservation3">
                            <div class="reserImg reserImg3"></div>
                            <h5>{{#i18n}}index.manual.reserTitle3{{/i18n}}</h5>
                            <p class="detail_desc">
                                {{#i18n}}index.manual.reserContent3{{/i18n}}
                            </p>
                        </div><!-- END reservation-->
                    </div> <!-- END col-sm-3-->

                    <div class="col-sm-3">
                        <div class="reservation reservation4">
                            <div class="reserImg reserImg4"></div>
                            <h5>{{#i18n}}index.manual.reserTitle4{{/i18n}}</h5>
                            <p class="detail_desc">
                                {{#i18n}}index.manual.reserContent4{{/i18n}}
                            </p>
                        </div><!-- END reservation-->
                    </div> <!-- END col-sm-3-->
                </div> <!-- END row-->
            </div> <!-- END container-->
        </section> <!-- END m_content mc4-->

        <!--<section class="m_content mc4_add1">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-2">-->
                        <!--<h3 class="smallTitle"> News &amp; <br/> Media</h3>-->
                        <!--<p class="small_desc"> News &amp; media coverage on Mile</p>-->
                    <!--</div> &lt;!&ndash; END com-sm-2 &ndash;&gt;-->
                    <!--<div class="col-lg-10">-->
                        <!--<div class="newsBigBox">-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-4 col-xs-6">-->
                                    <!--<div class="newsBox newsBox1">-->
                                        <!--<span class="blueBar"></span>-->
                                        <!--<a href="#">-->
                                            <!--<img src="./images/news1.png"/>-->
                                        <!--</a>-->
                                    <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->

                                    <!--<div class="newsBox newsBox4">-->
                                        <!--<span class="blueBar"></span>-->
                                        <!--<a href="#">-->
                                            <!--<img src="./images/news4.png"/>-->
                                        <!--</a>-->
                                    <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 col-xs-6">-->
                                    <!--<div class="newsBox newsBox2">-->
                                        <!--<span class="blueBar"></span>-->
                                        <!--<a href="#">-->
                                            <!--<img src="./images/news2.png"/>-->
                                        <!--</a>-->
                                    <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->

                                    <!--<div class="newsBox newsBox5">-->
                                        <!--<span class="blueBar"></span>-->
                                        <!--<a href="#">-->
                                            <!--<img src="./images/news5.png"/>-->
                                        <!--</a>-->
                                    <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->
                                <!--</div>-->

                                <!--<div class="col-lg-4 col-xs-12 padding_none">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-lg-12 col-xs-6">-->
                                            <!--<div class="newsBox newsBox3">-->
                                                <!--<span class="blueBar"></span>-->
                                                <!--<a href="#">-->
                                                    <!--<img src="./images/news3.png"/>-->
                                                <!--</a>-->
                                            <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->
                                        <!--</div> &lt;!&ndash; END col-sm-12 &ndash;&gt;-->

                                        <!--<div class="col-lg-12 col-xs-6">-->
                                            <!--<div class="newsBox newsBox6">-->
                                                <!--<span class="blueBar"></span>-->
                                                <!--<a href="#">-->
                                                    <!--<img src="./images/news6.png"/>-->
                                                <!--</a>-->
                                            <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->
                                        <!--</div> &lt;!&ndash; END col-sm-12&ndash;&gt;-->

                                    <!--</div> &lt;!&ndash; END row&ndash;&gt;-->
                                <!--</div>&lt;!&ndash; END col-lg-4&ndash;&gt;-->
                            <!--</div> &lt;!&ndash; END row&ndash;&gt;-->
                        <!--</div> &lt;!&ndash; END newsBox&ndash;&gt;-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash; END row&ndash;&gt;-->
            <!--</div> &lt;!&ndash; END container&ndash;&gt;-->
        <!--</section> &lt;!&ndash; END m_content mc4_add1&ndash;&gt;-->

        <!--<section class="m_content mc4_add2">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<h3 class="smallTitle">ICO Partners</h3>-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash; END row&ndash;&gt;-->

                <!--<div class="row">-->
                    <!--<div class="col-lg-3 col-xs-6">-->
                        <!--<div class="partnerBox partnerBox1">-->
                            <!--<img src="./images/partner1.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->

                        <!--<div class="partnerBox partnerBox5">-->
                            <!--<img src="./images/partner5.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->
                    <!--</div>-->

                    <!--<div class="col-lg-3 col-xs-6">-->
                        <!--<div class="partnerBox partnerBox2">-->
                            <!--<img src="./images/partner2.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->

                        <!--<div class="partnerBox partnerBox6">-->
                            <!--<img src="./images/partner6.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->
                    <!--</div>-->

                    <!--<div class="col-lg-3 col-xs-6">-->
                        <!--<div class="partnerBox partnerBox3">-->
                            <!--<img src="./images/partner3.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->

                        <!--<div class="partnerBox partnerBox7">-->
                            <!--<img src="./images/partner7.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->
                    <!--</div>-->

                    <!--<div class="col-lg-3 col-xs-6">-->
                        <!--<div class="partnerBox partnerBox4">-->
                            <!--<img src="./images/partner4.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->

                        <!--<div class="partnerBox partnerBox8">-->
                            <!--<img src="./images/partner8.png"/>-->
                        <!--</div> &lt;!&ndash;- END partnerBox&ndash;&gt;-->
                    <!--</div>-->
                <!--</div> &lt;!&ndash; END row&ndash;&gt;-->
            <!--</div> &lt;!&ndash; END container&ndash;&gt;-->
        <!--</section> &lt;!&ndash; END m_content mc4_add2&ndash;&gt;-->

        <section class="m_content mc5" id="section5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="smallTitle">{{#i18n}}index.partners{{/i18n}}</h3> <!-- END smallTitle-->
                        <p class="small_desc">
                            {{#i18n}}index.partners.info{{/i18n}}
                        </p>

                        <div class="partnerBox">
                            <div class="row">
                                <div class="col-lg-2 col-sm-12 col-xs-12">
                                    <div class="partnerLogo partnerLogo1">
                                        <img src="./images/mc4_logo1_1.png">
                                    </div> <!-- END partnerLogo-->
                                </div> <!-- END col-sm-2-->

                                <div class="col-lg-10 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-sm-6 col-xs-6">
                                        <div class="partnerLogo partnerLogo2">
                                            <img src="./images/mc4_logo1_2.png">
                                        </div> <!-- END partnerLogo-->
                                    </div> <!-- END col-sm-2-->

                                    <div class="col-lg-3 col-sm-6 col-xs-6">
                                        <div class="partnerLogo partnerLogo3">
                                            <img src="./images/mc4_logo1_3.png">
                                        </div> <!-- END partnerLogo-->
                                    </div> <!-- END col-sm-2-->

                                    <div class="col-lg-3 col-sm-6 col-xs-6 clear">
                                        <div class="partnerLogo partnerLogo4">
                                            <img src="./images/mc4_logo1_4.png">
                                        </div> <!-- END partnerLogo-->
                                    </div> <!-- END col-sm-2-->

                                    <div class="col-lg-3 col-sm-6 col-xs-6">
                                        <div class="partnerLogo partnerLogo5">
                                            <img src="./images/mc4_logo1_5.png">
                                        </div> <!-- END partnerLogo-->
                                    </div> <!-- END col-sm-2-->
                                </div>
                            </div> <!-- END row-->
                        </div> <!-- END partnerBox-->

                        <div class="starBox">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="partnerBigLogo"></div>
                                </div> <!-- END col-sm-12-->
                            </div> <!-- END row-->

                            <div class="row">
                                <div class="col-lg-3 col-sm-6 col-xs-6">
                                    <div class="partnerLogoTwo partnerLogo6">
                                        <img src="./images/mc4_logo2_1.png">
                                    </div> <!-- END partnerLogoTwo-->
                                </div> <!-- END col-sm-3-->

                                <div class="col-lg-3 col-sm-6 col-xs-6">
                                    <div class="partnerLogoTwo partnerLogo7">
                                        <img src="./images/mc4_logo2_2.png">
                                    </div> <!-- END partnerLogoTwo-->
                                </div> <!-- END col-sm-3-->

                                <div class="col-lg-3 col-sm-6 col-xs-6">
                                    <div class="partnerLogoTwo partnerLogo8">
                                        <img src="./images/mc4_logo2_3.png">
                                    </div> <!-- END partnerLogoTwo-->
                                </div> <!-- END col-sm-3-->

                                <div class="col-lg-3 col-sm-6 col-xs-6">
                                    <div class="partnerLogoTwo partnerLogo9">
                                        <img src="./images/mc4_logo2_4.png">
                                    </div> <!-- END partnerLogoTwo-->
                                </div> <!-- END col-sm-3-->
                            </div> <!-- END row-->


                        </div> <!-- END starBox-->
                    </div> <!-- END col-sm-12-->
                </div> <!--- END row-->
            </div> <!-- END container-->

            <div class="airplane_icon3">
                <img src="images/mc4_plane.png" alt="icon">
            </div>

        </section> <!-- END m_content mc5-->

    </div> <!-- END main-->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="leftFooter text-left">
                        <div class="footerImg">
                            <p><img src="./images/slogo.png" alt="logo"></p>
                        </div> <!-- END footerImg-->

                        <div class="emailBox clearfix">
                            <p class="subTitle">{{#i18n}}index.footer.subscribe{{/i18n}}</p>
                            <form action="" class="emailForm" method="post">
                                <div class="form-group">
                                    <input type="text" placeholder="{{#i18n}}index.footer.email{{/i18n}}" name="email" id="subs_email">
                                    <input type="submit" value="{{#i18n}}index.footer.emailSubscribe{{/i18n}}" id="subs_btn">
                                </div>
                            </form> <!-- END emailForm-->
                        </div> <!-- END emailBox-->

                        <div class="footerSubBox">
                            <a href="./kycpdf/Use.pdf" target="_blank">{{#i18n}}index.footer.terms{{/i18n}}</a>
                            <a href="./kycpdf/Policy.pdf" target="_blank">{{#i18n}}index.footer.privacy{{/i18n}}</a>
                        </div> <!-- END footerSubBox--->
                    </div><!-- END leftFooter-->
                </div> <!-- END col-sm-6-->

                <div class="col-sm-7">
                    <div class="rightFooter">
                        <span class="rightFootertitle">{{#i18n}}index.footer.social{{/i18n}}</span>
                        <ul class="footerImgBox clearfix">

                            <li class="footerIcon">
                                <div class="iconBox blogger">
                                    <a href="https://milecoin.blogspot.kr/" title="blogger link" target="_blank"></a>
                                    <span class="iconName">blogger</span>
                                </div> <!-- END iconBox-->
                            </li>

                            <li class="footerIcon">
                                <div class="iconBox facebook">
                                    <a href="https://www.facebook.com/Milecoinico/" title="facebook link" target="_blank"></a>
                                    <span class="iconName">facebook</span>
                                </div> <!-- END iconBox-->
                            </li>

                            <li class="footerIcon">
                                <div class="iconBox twitter">
                                    <a href="https://twitter.com/Mile_Official?lang=ko" title="twitter link" target="_blank"></a>
                                    <span class="iconName">twitter</span>
                                </div> <!-- END iconBox-->
                            </li>

                            <li class="footerIcon">
                                <div class="iconBox telegram">
                                    <a href="https://t.me/mileico" title="telegram link" target="_blank"></a>
                                    <span class="iconName">telegram</span>
                                </div> <!-- END iconBox-->
                            </li>

                            <li class="footerIcon">
                                <div class="iconBox steemit">
                                    <a href="https://steemit.com/@mileplatform" title="steemit link" target="_blank"></a>
                                    <span class="iconName">steemit</span>
                                </div> <!-- END iconBox-->
                            </li>

                            <li class="footerIcon">
                                <div class="iconBox github">
                                    <a href="https://github.com/mileplatform/smart-contract" title="github link" target="_blank"></a>
                                    <span class="iconName">github</span>
                                </div>
                            </li>
                        </ul> <!-- END footerImgBox-->
                    </div><!-- END rightFooter-->
                </div> <!-- END col-sm-6 -->
            </div> <!-- END row-->
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright">
                        {{#i18n}}index.footer.copyright{{/i18n}}
                        <a href="mailto:support@mileico.com">support@mileico.com</a>
                    </p>
                </div>
            </div>
        </div> <!-- END container-->
    </footer> <!-- END footer-->
</div> <!-- END wrapper index-->

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script defer="" src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(function () {
        //*======================================== join login tab
        //=========================================================
        $(".lnbbox li:last-child").click(function () {
            $(".tabBox .nav li:first-child").removeClass("active");
            $(".tabBox .nav li:last-child").addClass("active");
        });
        /*=============================================== finish*/

        //*========================================= countdown
        //==========================================================

        //yyyy-MM-dd
        var inputDate = $("#endDate").val();

        var dateArray = inputDate.split("-");

        CountDownTimer(dateArray[1] + '/' + dateArray[2] + '/' + dateArray[0] + ' 11:59 PM', 'newcountdown');

        function CountDownTimer(dt, id) {
            var end = new Date(dt);

            var _second = 1000;
            var _minute = _second * 60;
            var _hour = _minute * 60;
            var _day = _hour * 24;
            var timer;

            function showRemaining() {
                var now = new Date();
                var distance = end - now;
                if (distance < 0) {

                    clearInterval(timer);

                    return;
                }
                var days = Math.floor(distance / _day);
                var hours = Math.floor((distance % _day) / _hour);
                var minutes = Math.floor((distance % _hour) / _minute);
                var seconds = Math.floor((distance % _minute) / _second);

                document.getElementById('newcountdown').innerHTML = "<div class='count_box'>";
                document.getElementById('newcountdown').innerHTML += "<p class='inline'><b>" + days + "</b><span>{{#i18n}}index.main.progress.days{{/i18n}}</span>";
                document.getElementById('newcountdown').innerHTML += "<p class='inline'><b>" + hours + "</b><span>{{#i18n}}index.main.progress.hours{{/i18n}}</span>";
                document.getElementById('newcountdown').innerHTML += "<p class='inline'><b>" + minutes + "</b><span>{{#i18n}}index.main.progress.minutes{{/i18n}}</span>";
                document.getElementById('newcountdown').innerHTML += "<p class='inline'><b>" + seconds + "</b><span>{{#i18n}}index.main.progress.seconds{{/i18n}}</span>";
            }

            timer = setInterval(showRemaining, 1000);
        }
        var percent = $("#percent").val();
        $(".progress-bar").css("width", percent + "%");
        var selled = $("#selled").text();
        $("#selled").text(Math.round(selled));


    });
</script>

<script>
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "en";
    }

    $(document).ready(function () {
        $(".gnbbox .nav li a").click(function () {
            var height = $($(this).attr('href')).offset().top;
            $("body, html").animate({"scrollTop": height - 50}, 500);
            return false;
        });

        var images = ['visual.png', 'visual2.png'];
        var imagesCount = Math.floor(Math.random() * images.length);
        $('.visual').css({'background-image': 'url(./images/' + images[imagesCount] + ')'});

        //lang css
        var lang = getCookie('lang');
        if (lang == 'en'){
            document.getElementById("en").style.color="black";
        }  else {
            document.getElementById("zh").style.color="black";
        }
    });
</script>

<script>
    $(document).ready(function () {
        $("#subs_btn").click(function () {
            var email = $("#subs_email").val();
            var lang = getCookie('lang');
            if (lang =='en') {
                swal({
                    title: "please double check",
                    text: "Are you sure of this e-mail address?: " + email,
                    buttons: true,
                    dangerMode: true
                }).then(ok => {
                    if (ok) {
                        $.ajax({
                            url: '/subscribe',
                            type: 'POST',
                            data: {email: email}
                        })
                            .done(function (result) {
                                if (result == 'success') {
                                    swal('subscribe success', {
                                        icon: "success"
                                    });
                                    $("#subs_email").val('');
                                } else {
                                    swal(result);
                                }
                            })
                            .fail(function (err) {
                                console.error(err);
                            });
                    }
                });
            }else {
                swal({
                    title: "please double check",
                    text: "Are you sure of this e-mail address?: " + email,
                    buttons: true,
                    dangerMode: true
                }).then(ok => {
                    if (ok) {
                        $.ajax({
                            url: '/subscribe',
                            type: 'POST',
                            data: {email: email}
                        })
                            .done(function (result) {
                                if (result == 'success') {
                                    swal('subscribe success', {
                                        icon: "success"
                                    });
                                    $("#subs_email").val('');
                                } else {
                                    swal(result);
                                }
                            })
                            .fail(function (err) {
                                console.error(err);
                            });
                    }
                });
            }
            return false;
        });

    });
</script>

</body></html>