<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KYC-Admin</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/admin.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- <link rel="icon" href="../images/favicon.png" sizes="64*64"/>-->
</head>
<body>
{{#kyc}}
<div class="wrapper kycAdmin">
    <header class="header">
        <div class="topBox">
            <h3>MILE KYC FORM - Admin</h3>
        </div> <!-- END topBox-->
        <div class="kycLogo">
            <p class="kycLogoBox">
                <img src="../images/Miles-logo03_small.png" alt=""/>
            </p> <!-- END kycLogoBox-->
        </div> <!-- END kycLogo-->
    </header> <!-- END header-->

    <div class="main kycMain">
        <div class="container">

            <div class="mainBox">
                <section class="m_content mc1">
                    <h3>1. 개인정보의 수집, 이용 목적</h3>
                    <span>{{first}}</span>
                </section> <!-- END m_content mc1-->

                <section class="m_content mc2">
                    <h3>2. 이용약관</h3>
                    <span>{{second}}</span>
                </section> <!-- END m_content mc2-->

                <section class="m_content mc3">
                    <h3>3. 개인정보 보호 정책</h3>
                    <span>{{third}}</span>
                </section> <!-- END m_content mc3-->

                <section class="m_content mc4">
                    <h3>4. passport 사진</h3>
                    <div class="passportImg">
                        <img src="/getPassport/{{user.id}}" alt="passportImg">
                    </div> <!-- END possportImg-->
                </section> <!-- END m_content mc4-->

                <section class="m_content mc5">
                    <h3>5. passport 사진 + 셀카사진</h3>
                    <div class="passportImg">
                        <img src="/getSelfPicture/{{user.id}}" alt="passportImg">
                    </div> <!-- END possportImg-->
                </section> <!-- END m_content mc5-->

                <section class="m_content mc6">
                    <h3>6. email </h3>
                    <span>{{email}}</span>
                </section> <!-- END m_content mc6-->

                <section class="m_content mc7">
                    <h3>7. first name</h3>
                    <span>{{firstName}}</span>
                </section> <!-- END m_content mc7-->

                <section class="m_content mc8">
                    <h3>8. last name</h3>
                    <span>{{lastName}}</span>
                </section> <!-- END m_content mc8-->

                <section class="m_content mc9">
                    <h3>9. 국적</h3>
                    <span>{{nation}}</span>
                </section> <!-- END m_content mc9-->

                <section class="m_content mc10">
                    <h3>10. 거주지</h3>
                    <span>{{live}}</span>
                </section> <!-- END m_content mc10-->

                <section class="m_content mc11">
                    <h3>11. 생년월일</h3>
                    <span>{{year}}년</span>
                    <span>{{month}}월</span>
                    <span>{{day}}일</span>

                </section> <!-- END m_content mc11-->

                <section class="m_content mc12">
                    <h3>12. 성별</h3>
                    <span>{{gender}}</span>
                </section> <!-- END m_content mc12-->
                <div class="kyc_btn">
                    <form action="/processKyc/{{user.id}}" method="post">
                        <label>승인</label>
                        <input type="radio" name="result" value="ok">
                        <label>거절</label>
                        <input type="radio" name="result" value="no">
                        <div class="disagreeBox">
                            <span>거절사유</span>
                            <textarea cols="10" rows="5" name="failReason"></textarea>
                        </div> <!-- END disagreeBox-->
                        <input type="submit" value="확인" class="kycSubmit">
                    </form>
                </div> <!-- END kyc_btn-->
            </div> <!-- END mainBox-->
        </div>
    </div> <!-- END container-->
</div> <!-- END wrapper kycAdmin-->

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    $(document).ready(function () {
        $('textarea[name=failReason]').css("display", "none");
        $('input[type=radio][name=result]').change(function () {
            if (this.value == 'ok') {
                $('textarea[name=failReason]').css("display", "none");
            }
            else if (this.value == 'no') {
                $('textarea[name=failReason]').css("display", "block");
            }
        });
    });
</script>
{{/kyc}}
</body>
</html>