<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <meta charset="utf-8">
	<title>Login</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../css/main.css" type="text/css">
    <link rel="stylesheet" href="../../css/adminStyle.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://use.fontawesome.com/releases/v5.0.3/css/all.css" rel="stylesheet">
   <!-- <link rel="icon" href="../../images/favicon.png" sizes="64*64"/>-->
	<script src="../../js/modernizr.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
	<div class="wrapper login_page">
		<div class="main">
			<main id="main-404-content" class="main-content-particle-js">
                <div class="outer">
                    <div class="inner">
                        <div class="formBox">
                            <div class="logoBox">
                                <h1 class="logo">
                                    <a href="/" title="Homepage link">
                                        <img src="../../images/logo.png" alt="logo" />
                                    </a>
                                </h1> <!-- END logo-->
                            </div> <!-- END logoBox-->

                            <div class="tabBox">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a href="#loginTab" data-toggle="tab">Login</a>
                                    </li>
                                    <li class="active">
                                        <a href="#joinTab" data-toggle="tab">Join</a>
                                    </li>
                                </ul> <!-- END nav nav-tabs-->
                                <div class="tab-content">
                                    <div class="login_content tab-pane fade" id="loginTab">
                                        <form action="/signin" class="base_form login_form" method="post" name="loginForm">
                                            <div class="form-group">
                                                <input type="text" id="useremail" name="email" placeholder="ID"/>
                                            </div> <!-- END form-group-->

                                            <div class="form-group">
                                                <input type="password" id="userpass" name="password" placeholder="PASSWROD"/>
                                            </div> <!-- END form-group-->
                                            <div class="g-recaptcha" data-sitekey="6LdqQkMUAAAAALyZEzYH_4HIPRNF6aROZt-Q33Hi" style="transform:scale(1.0);-webkit-transform:scale(1.0);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                            <div class="loginBtn">
                                                <input type="submit" value="Login"/>
                                            </div>

                                            <div class="sub_login">
                                                <a href="/findPassword" class="pass_find">Find Password</a>
                                            </div>
                                        </form> <!-- END login_form-->
                                    </div> <!-- END login_content -->

                                    <div class="join_content tab-pane fade in active" id="joinTab">
                                        <form action="/signup" class="base_form join_form" onsubmit="return loginFormValidate()" method="post" name="joinForm">
                                            <div class="form-group">
                                                <input type="text" id="username" name="name" placeholder="NAME"/>
                                            </div> <!-- END form-group-->

                                            <div class="form-group">
                                                <input type="text" id="useremail2" name="email" placeholder="E-MAIL"/>
                                            </div> <!-- END form-group-->

                                            <div class="form-group">
                                                <div class="phonebox">
                                                    <div class="nation_select">
                                                        <select class="form-control" name="nationalCode">
                                                            <option value="93">93,AF</option>
                                                            <option value="355">355,AL</option>
                                                            <option value="213">213,DZ</option>
                                                            <option value="376">376,AD</option>
                                                            <option value="244">244,AO</option>
                                                            <option value="672">672,AQ</option>
                                                            <option value="54">54,AR</option>
                                                            <option value="374">374,AM</option>
                                                            <option value="297">297,AW</option>
                                                            <option value="61">61,AU</option>
                                                            <option value="43">43,AT</option>
                                                            <option value="994">994,AZ</option>
                                                            <option value="973">973,BH</option>
                                                            <option value="880">880,BD</option>
                                                            <option value="375">375,BY</option>
                                                            <option value="32">32,BE</option>
                                                            <option value="501">501,BZ</option>
                                                            <option value="229">229,BJ</option>
                                                            <option value="975">975,BT</option>
                                                            <option value="591">591,BO</option>
                                                            <option value="387">387,BA</option>
                                                            <option value="267">267,BW</option>
                                                            <option value="55">55,BR</option>
                                                            <option value="673">673,BN</option>
                                                            <option value="359">359,BG</option>
                                                            <option value="226">226,BF</option>
                                                            <option value="95">95,MM</option>
                                                            <option value="257">257,BI</option>
                                                            <option value="855">855,KH</option>
                                                            <option value="237">237,CM</option>
                                                            <option value="1">1,CA</option>
                                                            <option value="238">238,CV</option>
                                                            <option value="236">236,CF</option>
                                                            <option value="235">235,TD</option>
                                                            <option value="56">56,CL</option>
                                                            <option value="86">86,CN</option>
                                                            <option value="61">61,CX</option>
                                                            <option value="61">61,CC</option>
                                                            <option value="57">57,CO</option>
                                                            <option value="269">269,KM</option>
                                                            <option value="242">242,CG</option>
                                                            <option value="243">243,CD</option>
                                                            <option value="682">682,CK</option>
                                                            <option value="506">506,CR</option>
                                                            <option value="385">385,HR</option>
                                                            <option value="53">53,CU</option>
                                                            <option value="357">357,CY</option>
                                                            <option value="420">420,CZ</option>
                                                            <option value="45">45,DK</option>
                                                            <option value="253">253,DJ</option>
                                                            <option value="670">670,TL</option>
                                                            <option value="593">593,EC</option>
                                                            <option value="20">20,EG</option>
                                                            <option value="503">503,SV</option>
                                                            <option value="240">240,GQ</option>
                                                            <option value="291">291,ER</option>
                                                            <option value="372">372,EE</option>
                                                            <option value="251">251,ET</option>
                                                            <option value="500">500,FK</option>
                                                            <option value="298">298,FO</option>
                                                            <option value="679">679,FJ</option>
                                                            <option value="358">358,FI</option>
                                                            <option value="33">33,FR</option>
                                                            <option value="689">689,PF</option>
                                                            <option value="241">241,GA</option>
                                                            <option value="220">220,GM</option>
                                                            <option value="995">995,GE</option>
                                                            <option value="49">49,DE</option>
                                                            <option value="233">233,GH</option>
                                                            <option value="350">350,GI</option>
                                                            <option value="30">30,GR</option>
                                                            <option value="299">299,GL</option>
                                                            <option value="502">502,GT</option>
                                                            <option value="224">224,GN</option>
                                                            <option value="245">245,GW</option>
                                                            <option value="592">592,GY</option>
                                                            <option value="509">509,HT</option>
                                                            <option value="504">504,HN</option>
                                                            <option value="852">852,HK</option>
                                                            <option value="36">36,HU</option>
                                                            <option value="91">91,IN</option>
                                                            <option value="62">62,ID</option>
                                                            <option value="98">98,IR</option>
                                                            <option value="964">964,IQ</option>
                                                            <option value="353">353,IE</option>
                                                            <option value="44">44,IM</option>
                                                            <option value="972">972,IL</option>
                                                            <option value="39">39,IT</option>
                                                            <option value="225">225,CI</option>
                                                            <option value="81">81,JP</option>
                                                            <option value="962">962,JO</option>
                                                            <option value="7">7,KZ</option>
                                                            <option value="254">254,KE</option>
                                                            <option value="686">686,KI</option>
                                                            <option value="965">965,KW</option>
                                                            <option value="996">996,KG</option>
                                                            <option value="856">856,LA</option>
                                                            <option value="371">371,LV</option>
                                                            <option value="961">961,LB</option>
                                                            <option value="266">266,LS</option>
                                                            <option value="231">231,LR</option>
                                                            <option value="218">218,LY</option>
                                                            <option value="423">423,LI</option>
                                                            <option value="370">370,LT</option>
                                                            <option value="352">352,LU</option>
                                                            <option value="853">853,MO</option>
                                                            <option value="389">389,MK</option>
                                                            <option value="261">261,MG</option>
                                                            <option value="265">265,MW</option>
                                                            <option value="60">60,MY</option>
                                                            <option value="960">960,MV</option>
                                                            <option value="223">223,ML</option>
                                                            <option value="356">356,MT</option>
                                                            <option value="692">692,MH</option>
                                                            <option value="222">222,MR</option>
                                                            <option value="230">230,MU</option>
                                                            <option value="262">262,YT</option>
                                                            <option value="52">52,MX</option>
                                                            <option value="691">691,FM</option>
                                                            <option value="373">373,MD</option>
                                                            <option value="377">377,MC</option>
                                                            <option value="976">976,MN</option>
                                                            <option value="382">382,ME</option>
                                                            <option value="212">212,MA</option>
                                                            <option value="258">258,MZ</option>
                                                            <option value="264">264,NA</option>
                                                            <option value="674">674,NR</option>
                                                            <option value="977">977,NP</option>
                                                            <option value="31">31,NL</option>
                                                            <option value="599">599,AN</option>
                                                            <option value="687">687,NC</option>
                                                            <option value="64">64,NZ</option>
                                                            <option value="505">505,NI</option>
                                                            <option value="227">227,NE</option>
                                                            <option value="234">234,NG</option>
                                                            <option value="683">683,NU</option>
                                                            <option value="850">850,KP</option>
                                                            <option value="47">47,NO</option>
                                                            <option value="968">968,OM</option>
                                                            <option value="92">92,PK</option>
                                                            <option value="680">680,PW</option>
                                                            <option value="507">507,PA</option>
                                                            <option value="675">675,PG</option>
                                                            <option value="595">595,PY</option>
                                                            <option value="51">51,PE</option>
                                                            <option value="63">63,PH</option>
                                                            <option value="870">870,PN</option>
                                                            <option value="48">48,PL</option>
                                                            <option value="351">351,PT</option>
                                                            <option value="1">1,PR</option>
                                                            <option value="974">974,QA</option>
                                                            <option value="40">40,RO</option>
                                                            <option value="7">7,RU</option>
                                                            <option value="250">250,RW</option>
                                                            <option value="590">590,BL</option>
                                                            <option value="685">685,WS</option>
                                                            <option value="378">378,SM</option>
                                                            <option value="239">239,ST</option>
                                                            <option value="966">966,SA</option>
                                                            <option value="221">221,SN</option>
                                                            <option value="381">381,RS</option>
                                                            <option value="248">248,SC</option>
                                                            <option value="232">232,SL</option>
                                                            <option value="65">65,SG</option>
                                                            <option value="421">421,SK</option>
                                                            <option value="386">386,SI</option>
                                                            <option value="677">677,SB</option>
                                                            <option value="252">252,SO</option>
                                                            <option value="27">27,ZA</option>
                                                            <option value="82">82,KR</option>
                                                            <option value="34">34,ES</option>
                                                            <option value="94">94,LK</option>
                                                            <option value="290">290,SH</option>
                                                            <option value="508">508,PM</option>
                                                            <option value="249">249,SD</option>
                                                            <option value="597">597,SR</option>
                                                            <option value="268">268,SZ</option>
                                                            <option value="46">46,SE</option>
                                                            <option value="41">41,CH</option>
                                                            <option value="963">963,SY</option>
                                                            <option value="886">886,TW</option>
                                                            <option value="992">992,TJ</option>
                                                            <option value="255">255,TZ</option>
                                                            <option value="66">66,TH</option>
                                                            <option value="228">228,TG</option>
                                                            <option value="690">690,TK</option>
                                                            <option value="676">676,TO</option>
                                                            <option value="216">216,TN</option>
                                                            <option value="90">90,TR</option>
                                                            <option value="993">993,TM</option>
                                                            <option value="688">688,TV</option>
                                                            <option value="971">971,AE</option>
                                                            <option value="256">256,UG</option>
                                                            <option value="44">44,GB</option>
                                                            <option value="380">380,UA</option>
                                                            <option value="598">598,UY</option>
                                                            <option value="1">1,US</option>
                                                            <option value="998">998,UZ</option>
                                                            <option value="678">678,VU</option>
                                                            <option value="39">39,VA</option>
                                                            <option value="58">58,VE</option>
                                                            <option value="84">84,VN</option>
                                                            <option value="681">681,WF</option>
                                                            <option value="967">967,YE</option>
                                                            <option value="260">260,ZM</option>
                                                            <option value="263">263,ZW</option>
                                                        </select>
                                                    </div> <!-- END nation_select -->
                                                    <input type="text" id="phone" name="phoneNum" placeholder="phone number"/>
                                                </div> <!-- END phonebox-->
                                            </div> <!-- END form-group-->


                                            <div class="form-group">
                                                <input type="password" id="userpass2" name="password" placeholder="PASSWORD"/>
                                            </div> <!-- END form-group-->

                                            <div class="form-group">
                                                <input type="password" id="confirmation" name="confirmation" placeholder="CONFIRMATION"/>
                                            </div> <!-- END form-group-->

                                            {{#loginFail}}
                                            <div class="loginFail">
                                                <span>{{loginFail}}</span>
                                            </div>
                                            {{/loginFail}}
                                            <div class="g-recaptcha" data-sitekey="6LdqQkMUAAAAALyZEzYH_4HIPRNF6aROZt-Q33Hi" style="transform:scale(1.0);-webkit-transform:scale(1.0);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                                            <div class="loginBtn">
                                                <input type="submit" id="joinSubmit" value="JOIN"/>
                                            </div>
                                        </form> <!-- END login_form-->
                                    </div> <!-- END login_content -->
                                </div> <!--END tab-content-->
                            </div> <!-- EMD tabBox-->

                        </div> <!-- END formBox-->
                    </div><!-- END inner-->
                </div> <!-- outer-->

			</main> <!-- /main-404-content -->
		</div> <!-- END main-->
	</div> <!-- END wrapper-->
   <script src="../../js/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.3/js/all.js"></script>
   <script src="../../js/plugins.js"></script>
   <script src="../../js/main.js"></script>

</body>

</html>